<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="app.css">
	<title>PRICE</title>
</head>

<body>
	<%- include('../partial/navbar'); -%>

	<main class="price">
		<section class="flexrow">
			<section class="flexcol">
				<div class="photo">
					<img src="images/personal.jpg"
						alt="personal">
				</div>
				<div class="paragh">
					<h4>Personal</h4>
					<hr>
					<h4>Custom domains</h4>
					<hr>
					<h4>Just one animal to care</h4>
					<hr>
					<div class="bottom">
						<h4>Free</h4>
						<a class="button" href=""> Sign up</a>
					</div>
				</div>
			</section>
			<section class="flexcol">
				<div class="photo">
					<img src="images/team.jpg"
						alt="team">
				</div>
				<div class="paragh">
					<h4>Small team</h4>
					<hr>
					<h4>Never sleeps</h4>
					<hr>
					<h4>Multiple wokers for more take care of animals</h4>
					<hr>
					<div class="bottom">
						<h4>&#36;150</h4>
						<a class="button" href="">Free trial</a>
					</div>
				</div>
			</section>
			<section class="flexcol">
				<div class="photo">
					<img src="images/enterprise.jpg"
						alt="enterprise">
				</div>
				<div class="paragh">
					<h4>Enterprise</h4>
					<hr>
					<h4>Dedicated</h4>
					<hr>
					<h4>Unlimited animals to care</h4>
					<hr>
					<div class="bottom">
						<h4>&#36;400</h4>
						<a class="button" href=""> Free trial</a>
					</div>
				</div>
			</section>
		</section>
	</main>
	<%- include('../partial/footer'); -%>
	<script src="/js/app.js"></script>
</body>

</html>